@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Dongle&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

.site-nav {
  display: flex;
  align-items: center;

}

.header-font a{
font-family: 'Almarai', sans-serif;
font-family: 'Italiana', serif;
}
